.cmnt_sctn {
  background-color: #fff;

  .cmtr_ns {
    display: flex;
    border-bottom: 1px solid lightgray;
    .img_cmtr {
      img {
        height: 50px;
        width: 50px;
        border-radius: 50px;
      }
    }
    .nam_star {
      .fa-star {
        color: #6dad54;
      }
    }
  }
  .dat_sec_cmtr {
    display: flex;
    .ls_vrnt {
      display: flex;
    }
  }
  .img_shw_cmtr {
    display: flex;
    .shw_cmtr_img {
      img {
        height: 100px;
        width: 100px;
      }
    }
  }
}
