.sec_two {
  background-color: #fff;
  .sect_logo {
  }
  .sect_cht_vs {
  }
  .sect_2 {
    .sect_dta {
      display: flex;

      .dt_hd {
        width: 50%;
      }
      .dt_vlu {
        color: #6dad54;
      }
    }
  }
}
