$green_code: #6dad54;
$secondary_green_code: #a3ce2d;

.home_page {
  background-color: rgb(216 214 214 / 43%);
  height: 110px;

  .home_Head {
    padding-top: 20px;

    .home_pageSearch {
      display: flex;
      align-items: center;
      gap: 18px;

      .search_svg {
        width: 129px;
        max-width: 100%;
      }

      .search_bar {
        background-color: #fff;
        padding: 3px;
        width: 65%;

        .home_search {
          display: flex;
          border: 1px solid #00000042;
          border-radius: 5px;

          .home_inp {
            border: none;
            width: 100%;
            padding: 8px;
            border-radius: 5px;
            outline: none;

            &:active {
              outline: none;
            }

            &::placeholder {
              font-size: 14px;
              color: rgb(180, 178, 178);
            }
          }

          .inputSearch {
            background-color: $green_code;
            width: 100px;
            color: #fff;
            font-size: 14px;
            padding: 8px;
            margin: 2px;
            border-radius: 3px;
            display: flex;
            align-items: center;
            gap: 10px;

            .search_icon {
              height: 18px;
            }

            span {
              font-size: 12px;
            }
          }
        }
      }

      .trac_btn {
        background-color: $green_code;
        padding: 10px;
        font-size: 12px;
        border-radius: 5px;
        color: #fff;
        max-width: 158px;
        display: flex;
        gap: 7px;
        align-items: center;
      }

      .home_icons {
        display: flex;
        gap: 20px;
        align-items: center;
        height: 25px;
        width: 25px;

        .subhead_icon {
          position: relative;

          img {
            width: 25px;
            height: 25px;
          }

          .notification {
            position: absolute;
            left: 15px;
            background: red;
            border-radius: 100%;
            padding: 0px 5px;
            font-size: 10px;
            color: #fff;
            font-weight: 500;
            height: 15px;
            width: 15px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 13px;
          }
        }
      }
    }

    .news_contain {
      display: flex;
      align-items: center;
      gap: 20px;

      .search_svg {
        width: 129px;
        max-width: 100%;
      }

      .search_bar {
        padding: 3px;
        width: 65%;

        .home_search {
          display: flex;
          gap: 20px;
          font-size: 14px;

          .home_inp {
            border: none;
            width: 100%;
            padding: 8px;
            border-radius: 5px;
            outline: none;

            &:active {
              outline: none;
            }

            &::placeholder {
              font-size: 14px;
              color: rgb(180, 178, 178);
            }
          }

          .inputSearch {
            width: 100px;
            color: #fff;
            font-size: 14px;
            padding: 8px;
            margin: 2px;
            border-radius: 3px;
            display: flex;
            align-items: center;
            gap: 10px;

            .search_icon {
              height: 18px;
            }

            span {
              font-size: 12px;
            }
          }
        }
      }

      .trac_btn {
        // background-color: $green_code;
        padding: 10px;
        font-size: 12px;
        border-radius: 5px;
        color: #fff;
        max-width: 158px;
        display: flex;
        gap: 7px;
        align-items: center;
      }

      .home_icons {
        display: flex;
        gap: 20px;
        align-items: center;
        height: 25px;
        width: 25px;
      }
    }

    .home_news {
      display: flex;
      gap: 13px;
      max-width: 1000px;
      margin: 0 auto;
      font-size: 14px;
      color: #000000bd;

      .header_resp_lang {
        .nav_lang_div {
          display: flex;
          gap: 6px;
          // flex-direction: column;
          position: relative;

          // align-items: center;
          .drop_down {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 22px;
            left: -9px;
            z-index: 99;

            .option_with_flag {
              background-color: #fff;
              padding: 2px 10px;

              .resp_lang_option {
                display: flex;
                gap: 7px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) and (min-width: 1400px) {
  .home_page {
    .home_Head {
      width: 100%;
      padding-left: 31px;

      .home_pageSearch {
        .trac_btn {
          padding: 12px 5px;
          font-size: 10px;
          gap: 4px;
        }

        .search_bar {
          width: 65%;
        }
      }
    }
  }
}

@media screen and (max-width: 1399px) and (min-width: 1200px) {
  .home_page {
    .home_Head {
      width: 100%;
      padding-left: 31px;

      .home_pageSearch {
        .trac_btn {
          padding: 10px;
          font-size: 10px;
          gap: 10px;
        }

        .search_bar {
          width: 59%;
        }
      }

      .home_pageSearch {
        width: 100%;
      }

      .home_news {
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
  .home_page {
    .home_Head {
      width: 100%;
      padding-left: 31px;

      .home_pageSearch {
        .trac_btn {
          padding: 10px;
          font-size: 10px;
          gap: 6px;
        }

        .search_bar {
          width: 51%;
        }
      }

      .home_pageSearch {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 992px) {
  .home_page {
    .home_Head {
      width: 100%;
      padding-left: 31px;

      .home_pageSearch {
        .trac_btn {
          padding: 10px;
          font-size: 10px;
          gap: 6px;
        }

        .search_bar {
          width: 51%;
        }
      }

      .home_pageSearch {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1199px) {
  .home_page {
    .home_Head {
      width: 100%;

      .home_news {
        margin: 2px 125px;
        padding: 2px 10px;
      }
    }
  }
}

// @media screen and (min-width: 426px) {
//   .responsive_lang {
//     display: none;
//   }
// }

// @media (max-width: 1023px) {
//   .home_page {
//     .home_Head {
//       .home_pageSearch {
//         .trac_btn {
//           padding: 10px;
//           font-size: 10px;
//           span {
//             display: none;
//           }
//         }
//       }
//       .home_news {
//         gap: 12px;
//         width: 64%;
//         padding-top: 3px;
//         font-size: 13px;
//         margin: 0px 106px;
//       }
//     }
//   }
// }

@media (max-width: 950px) and (min-width: 800px) {
  .home_page {
    .home_Head {
      .home_pageSearch {
        .search_svg {
          max-width: 100px;
          // max-width: 100%;
        }
      }

      .home_pageSearch {
        .trac_btn {
          padding: 10px 5px;
          font-size: 11px;
          text-align: center;

          img {
            display: none;
          }
        }
        .search_bar {
          width: 45%;
          .home_search {
            .home_inp {
              font-size: 12px;
              &::placeholder {
                font-size: 12px;
              }
            }
            .inputSearch {
              .search_icon {
                display: none;
              }
            }
          }
        }
      }
      .news_contain {
        .search_svg {
          width: 100px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .home_page {
    .home_Head {
      .home_news {
        display: none;
      }
    }
  }
}

@media (max-width: 1023px) {
  .home_page {
    height: unset;

    .home_Head {
      margin-top: 30px;

      .home_pageSearch {
        display: none;

        .search_bar {
          display: none;
        }
      }

      .home_news {
        margin: 0px 0px;
        width: 100%;
        padding: 0px 39px;
      }

      .responsive_lang {
        margin-left: 34px;

        .curreny_option {
          background-color: #eeeded;
          border: none;
          font-size: 14px;
        }
      }

      .news_contain {
        display: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .home_banner {
    .banner_div {
      .explore_div {
        .cards_box {
          .explore_card {
            min-height: 320px;
            width: 45%;
            border: 1px solid rgba(123, 119, 119, 0.2901960784);
            display: flex;
            flex-direction: column;
            border-radius: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 415px) and (min-width: 375px) {
  .home_page {
    .home_Head {
      width: 100%;
      padding: 14px;

      .home_news {
        padding: 4px 0px;
        margin-top: 10px;
      }

      .responsive_lang {
        margin-left: 0px;
      }
    }
  }

  .home_banner {
    .banner_back {
      .stores_cart {
        .stores_cart_align {
          padding: 15px 0px;
        }
      }
    }
  }
}

@media (max-width: 374px) and (min-width: 250px) {
  .home_page {
    .home_Head {
      width: 100%;
      padding: 6px 1px;

      .home_news {
        font-size: 12px;
        margin-top: 25px;
        padding: 12px 12px 0px 12px;
        gap: 11px;
      }

      .responsive_lang {
        margin-left: 8px;
      }
    }
  }
}
