button {
  color: white;
  background-color: #6dad54;
}
.al_prdt {
  .sec_1 {
    display: flex;
  }
  .sec_2 {
    display: flex;
    .sidebar {
      width: 20%;
      height: auto;
    }
    .bodybar {
      width: 80%;
      .flr_bar {
        display: flex;
        background-color: lightgray;
        color: gray;
        font-size: 1.2rem;

        .flr_bar_1 {
          display: flex;
        }

        .flr_bar_2 {
          display: flex;
          .green-btn {
            background-color: #6dad54;
            color: white;
          }
        }
      }
    }
  }
}
