.prdct_rtng {
  background-color: #fff;
  .prdct_rtng_bx {
    border: 1px solid #6dad54;
    .prdct_rtng_bx_1 {
      .rtng_bx_1_rtng {
        color: #6dad54;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .rtng_bx_1_star {
        display: flex;
        align-items: center;
        justify-content: center;
        .fa-star {
          color: #6dad54;
          margin: 0px 3px;
        }
      }
    }
    .prdct_rtng_bx_2 {
      display: flex;
      flex-wrap: wrap;
      .rtng_optn {
        border: 1px solid #6dad54;
        padding: 0.5%;
        margin: 5px;
        border-radius: 4px;
        font-size: 0.9rem;
      }
    }
  }
}
