.main {
  .bm_hdr {
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    font-family: "Poppins";
  }
  .form-check {
    .form-check-label {
      color: #000000;
      font-weight: 500;
      font-size: 14px;
    }
    .form-checked-input {
      background-color: #6dad54;
      border-color: #6dad54;
    }
    .form-check-input[type="checkbox"] {
      border-radius: 0em;
    }
  }
  .more {
    color: #000000;
    select {
      width: 25% !important;
      font-weight: 600;
      font-size: 14px;
      background-color: transparent;
    }
  }
}
