.home_banner {
  // background-color: rgb(216 214 214 / 43%);
  .back_banner {
    position: absolute;
    background: rgba(216, 214, 214, 0.43);
    height: 225px;
    width: 100%;
    z-index: -1;
  }

  .banner_back {
    text-align: center;
    padding: 12px;

    .home_banner_card {
      box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
      padding: 0px !important;
    }

    .banner_links {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background: #fff;
    }

    .banner_link {
      display: flex;
      justify-content: space-between;
      padding: 5px 20px;
      background: #fff;
      cursor: pointer;

      span {
        font-size: 14px;
        font-weight: 500;
        color: rgb(82, 81, 81);
      }
    }

    .banner_img {
      height: 350px;
      object-fit: cover;
      width: 100%;
      /* min-height: 100%; */
      /* background-position: center center;  */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      // box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      //   rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    }

    .stores_title {
      text-align: start;
      font-size: 18px;
      font-weight: 500;
      padding: 10px 4px;
      color: gray;
    }

    .stores_cart {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 10px;
      margin-bottom: 15px;
      padding: 5px 30px;
      box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

      .stores_cart_align {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 22px 10px;
        gap: 10px;
        font-weight: 500;

        img {
          height: 50px;
          width: 50px;
        }
      }
    }

    .stores_row {
      padding: 0px;
      margin-top: 25px;
    }
  }

  .charity_cart {
    background-color: #6dad5430;
    margin-top: 15px;
    padding-bottom: 15px;
    /* height: 200px; */

    .explore_head {
      text-align: center;
      font-size: 22px;
      font-weight: 500;
      padding-top: 24px;
      line-height: 22px;
    }

    .explore_subhead {
      text-align: center;
      font-size: 52px;
      font-weight: 700;
      color: #a3ce2d;
      padding-bottom: 20px;
    }

    .charity_flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 15px;

      .exp_imgs {
        position: relative;
        height: 300px;
        width: 15%;
        border: 1px solid gray;
        border: none;
        border-radius: 5px;

        img {
          height: 100%;
          width: 100%;
          border-radius: 8px;
        }

        span {
          position: absolute;
          left: 50%;
          bottom: 13px;
          transform: translate(-50%, 0);
          font-weight: 600;
          color: #fff;
          font-size: 20px;
        }
      }
    }
  }

  .arrival_div {
    padding-bottom: 20px;

    .arrival_head {
      font-size: 18px;
      font-weight: 600;
      color: #6e6b6b;
      padding: 8px 0px;
      display: flex;
      justify-content: space-between;
    }

    .arrival_content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;

      .card_arrival {
        width: 193px;
        border-radius: 7px;
        border: 1px solid gray;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        padding: 0px;
        line-height: 20px;

        .card_arrival_Img img {
          height: 150px;
          width: 100%;
          border-radius: 5px;
        }

        .card_text {
          font-size: 13px;
          color: #000000;
          padding: 5px 5px 0px 5px;
          font-weight: 400;
        }

        .card_x_price {
          text-decoration: line-through;
          padding: 0 7px;
          font-size: 13px;
          font-weight: 500;
          color: #000000;
        }

        .card_price {
          font-weight: 700;
          padding: 1px 7px;
          font-size: 15px;
        }

        .star_icons {
          padding: 0px 6px;
        }
      }
    }
  }

  .artisan_div {
    padding-bottom: 20px;

    .artisan_head {
      font-size: 18px;
      font-weight: 600;
      color: #6e6b6b;
      padding: 8px 2px;
      display: flex;
      justify-content: space-between;
    }

    .artisan_content {
      // display: flex;
      // align-items: center;
      // justify-content: space-around;

      .card_artisan {
        max-width: 100%;
        border-radius: 7px;
        border: 1px solid gray;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        .card_artisan_Img img {
          height: 145px;
          width: 100%;
          border-radius: 5px;
        }

        .card_text {
          font-size: 13px;
          color: #000000;
          padding: 5px 7px;
          font-weight: 400;
        }

        .card_x_price {
          text-decoration: line-through;
          padding: 0 7px;
          font-size: 13px;
          font-weight: 500;
          color: gray;
        }

        .card_price {
          font-weight: 700;
          padding: 1px 7px;
          font-size: 15px;
        }

        .star_icons {
          padding: 0px 6px;
        }
      }
    }
  }

  .category_section {
    .category_head {
      text-align: start;
      font-size: 18px;
      font-weight: 600;
      color: #6e6b6b;
      padding: 0px 20px;
    }

    .category_div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .categories_icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
        height: 178px;
        width: 130px;
        justify-content: center;

        img {
          height: 100px;
          width: 100px;
        }

        span {
          font-size: 12px;
          font-weight: 500;
          text-align: center;
        }
      }
    }
  }

  .art_tailor {
    width: 100%;
    height: 248px;
    border-radius: 5px;
  }

  .banner_div {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: 10px;

    .bannerYellow {
      height: 300px;
      width: 100%;
      background-color: #eba12bfc;

      .explore_card {
        display: flex;
        flex-direction: column;
        align-items: center;

        .explore_head_text {
          display: flex;
          flex-direction: column;
          align-items: center;
          line-height: 52px;
          margin-top: 25px;
        }

        .brows_btn {
          margin: 20px 10px;
        }
      }

      .just_for {
        font-size: 28px;
        font-weight: 600;
        height: 40px;

        &:before {
          background-color: black;
          content: " ";
          height: 4px;
          margin-top: 24px;
          position: absolute;
          width: 8%;
          left: 23%;
        }

        &:after {
          background-color: black;
          content: " ";
          height: 4px;
          margin-top: 24px;
          position: absolute;
          width: 8%;
          right: 812px;
        }
      }

      .exp_all_pro {
        font-size: 46px;
        font-weight: 900;
      }

      .find_prod {
        font-size: 36px;
        font-weight: 700;
      }

      .banner_btn {
        border: none;
        border-radius: 10px;
        padding: 10px;
        width: 350px;
        color: orange;
        font-size: 24px;
        font-weight: 500;
      }

      .yello_Img {
        img {
          height: 100%;
          max-width: 100%;
          padding-top: 14px;
          padding-right: 10px;
        }
      }
    }

    .explore_div {
      background-color: #a8a2a236;
      border-radius: 10px;

      .cards_box {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
        padding: 30px 35px;
      }

      .explore_card {
        min-height: 335px;
        width: 23%;
        border: 1px solid rgba(123, 119, 119, 0.2901960784);
        display: flex;
        flex-direction: column;
        border-radius: 5px;

        .explore_div_img {
          height: 195px;
          width: 100%;
          border-radius: 8px;
          padding: 5px;
          background: #f6f4f5;

          img {
            height: 100%;
            width: 100%;
          }
        }

        .explore_text {
          font-weight: 600;
          color: #4d4d4d;
          padding: 5px 10px;
        }

        .star_icons {
          padding: 0px 10px;
        }

        .card_price {
          padding: 0px 10px;
          font-weight: 700;
        }
      }
    }
  }

  .news_search {
    height: 200px;
    background-color: rgba(216, 214, 214, 0.43);
    margin-top: 60px;
    padding-top: 20px;

    .news_search_head {
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      padding: 17px 0px;
    }

    .news_search_box {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;

      .news_search_inp {
        width: 450px;
        padding: 13px;
        border: none;
        border-radius: 5px;
      }

      .subscribe_btn {
        border: none;
        padding: 13px;
        background: rgba(7, 149, 7, 0.56);
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        border-radius: 5px;
        width: 130px;
      }
    }
  }
}

/* css for home page responsive view start */

@media (max-width: 1440px) and (min-width: 1100px) {
  .home_banner {
    .banner_div {
      .bannerYellow {
        .just_for {
          &:before {
            height: 4px;
            left: 20%;
          }

          &:after {
            right: 718px;
          }
        }
      }
    }

    .arrival_div {
      .arrival_content {
        .card_arrival {
          width: 192px;
        }
      }
    }

    .category_section {
      .category_div {
        .categories_icon {
          gap: 9px;
          width: 124px;
        }
      }
    }
  }
}

@media (max-width: 1399px) and (min-width: 1200px) {
  .home_banner {
    .banner_div {
      .bannerYellow {
        .just_for {
          &:before {
            height: 4px;
            left: 20%;
          }

          &:after {
            right: 718px;
          }
        }
      }
    }

    .arrival_div {
      .arrival_content {
        .card_arrival {
          width: 165px;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .charity_cart {
    .explore_head {
    }

    .explore_subhead {
    }

    .charity_flex {
      flex-wrap: wrap;
      gap: 40px 0px;
      justify-content: space-between !important;
      // padding: 20px 59px;

      .exp_imgs {
        height: 360px !important;
        width: 30% !important;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        span {
        }
      }
    }
  }

  .home_banner {
    .arrival_div {
      .arrival_resp {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 29px;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;

        .card_arrival {
          width: 280px;
          height: 319px;

          .card_arrival_Img {
            img {
              height: 200px;
            }
          }
        }
      }

      .arrival_head {
        padding: 12px 5px;
      }

      .arrival_content {
        .card_arrival {
          max-width: 100%;
        }
      }
    }

    .artisan_div {
      .artisan_resp {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 29px;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;

        .card_artisan {
          width: 280px;
          height: 319px;

          .card_artisan_Img {
            img {
              height: 200px;
            }
          }
        }
      }

      .artisan_head {
        padding: 12px 5px;
      }

      .artisan_content {
        .card_artisan {
          max-width: 100%;
          height: 320px;

          .card_artisan_Img {
            img {
              height: 200px;
            }
          }
        }
      }
    }

    .banner_back {
      .banner_link {
        display: flex;
        justify-content: space-between;
        padding: 5px 8px;
        background: #fff;
        cursor: pointer;
      }
    }

    .category_section {
      .category_div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;

        .categories_icon {
          width: 133px;
        }
      }
    }

    .art_tailor {
      height: 318px;
    }

    .banner_div {
      .bannerYellow {
        .just_for {
          &:before {
            height: 3px;
            width: 8%;
            left: 17%;
          }

          &:after {
            height: 3px;
            width: 8%;
            left: 460px;
          }
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .home_banner {
    .banner_back {
      .banner_img {
        height: 245px;
      }

      .banner_link {
        padding: 0 20px;

        span {
          font-size: 12px;
        }
      }

      .stores_cart {
        .stores_cart_align {
          padding: 15px 4px;

          img {
            height: 40px;
            width: 44px;
          }

          span {
            font-size: 12px;
            font-weight: 500;
          }
        }
      }
    }

    .back_banner {
      height: 145px;
    }

    .arrival_div {
      .arrival_resp {
        display: flex;
        align-items: center;
        // justify-content: center;
        gap: 29px;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;

        .card_arrival {
          width: 205px;
          height: 325px;

          .card_arrival_Img {
            img {
              height: 200px;
            }
          }
        }
      }

      .arrival_head {
        padding: 14px 2px 8px 2px;
      }
    }

    .category_section {
      .category_div {
        .categories_icon {
          width: 139px;
          height: 150px;
        }
      }
    }

    .art_tailor {
      // height: 245px;
    }

    .banner_div {
      .bannerYellow {
        .explore_card {
          .explore_head_text {
          }

          .brows_btn {
          }
        }

        .just_for {
          font-size: 22px;

          &:before {
            height: 2px;
            width: 7%;
            left: 105px;
          }

          &:after {
            height: 2px;
            width: 7%;
            left: 320px;
          }
        }

        .exp_all_pro {
          font-size: 32px;
        }

        .find_prod {
          font-size: 30px;
        }

        .banner_btn {
        }

        .yello_Img {
          img {
            padding-top: 40px;
          }
        }
      }

      .explore_div {
        .cards_box {
          justify-content: space-between;
          gap: 42px;
        }

        .explore_card {
          width: unset;

          img {
          }

          .explore_text {
          }

          .star_icons {
          }

          .card_price {
          }
        }
      }
    }
  }

  .charity_cart {
    .explore_head {
    }

    .explore_subhead {
    }

    .charity_flex {
      // padding: 20px;
    }
  }
}

@media (max-width: 1023px) and (min-width: 950px) {
  .home_banner {
    .banner_div {
      .bannerYellow {
        .just_for {
          &:before {
            height: 4px;
            left: 20%;
          }

          &:after {
            right: 718px;
          }
        }
      }
    }

    .arrival_div {
      .arrival_content {
        .card_arrival {
          width: 250px;
          height: 325px;
        }
      }
    }
  }
}
@media (max-width: 900px) and (min-width: 750px) {
  .home_banner {
    .banner_div {
      .explore_div {
        .explore_card {
          width: 30%;
        }
        .cards_box {
          gap: 22px;
          padding: 30px 20px;
        }
      }
    }

    .arrival_div {
      .arrival_content {
        .card_arrival {
          width: 250px;
          height: 325px;
        }
      }
    }
  }
}

@media (max-width: 481px) {
  .home_banner {
    .banner_back {
      .stores_cart {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 5px 8px;
      }

      .banner_links {
        display: none;
      }

      .banner_img {
        width: 100%;
        height: 100%;
      }
    }

    .arrival_div {
      .arrival_resp {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .card_arrival {
          width: 185px;
          height: 271px;

          .card_arrival_Img {
            img {
              height: 150px;
            }
          }
        }
      }

      .arrival_content {
        .card_arrival {
          margin-bottom: 0px;
        }
      }
    }

    .category_section {
      .category_div {
        justify-content: space-between;

        .categories_icon {
          width: 130px;
          height: 150px;
        }
      }

      .category_head {
        padding: 0px 5px;
      }
    }

    .artisan_div {
      .artisan_content {
        width: 50%;
      }
    }

    .banner_div {
      .explore_div {
        .cards_box {
          display: flex;
          // justify-content: space-around;
          flex-wrap: wrap;
          gap: 37px;
          padding: 30px 12px;
        }

        .explore_card {
          min-height: unset;
          width: 45%;
        }
      }

      .bannerYellow {
        .banner_resp {
          width: 100%;
        }

        .yello_Img {
          img {
            display: none;
          }
        }

        .just_for {
          &::before {
            left: 100px;
          }

          &::after {
            left: 294px;
          }
        }
      }
    }

    .art_tailor {
      display: none;
    }

    .news_search {
      .news_search_box {
        .news_search_inp {
          width: unset;
        }

        .subscribe_btn {
          padding: 13px;
          font-size: 14px;
          width: 86px;
        }
      }
    }
  }

  .charity_cart {
    .explore_head {
    }

    .explore_subhead {
    }

    .charity_flex {
      padding: 20px 0px;
      gap: 20px 10px;

      .exp_imgs {
        height: 250px !important;
        width: 47% !important;

        span {
          font-size: 15px !important;
        }
      }
    }
  }
}

@media (max-width: 424px) and (min-width: 374px) {
  .home_banner {
    .arrival_div {
      .arrival_resp {
        gap: 21px;

        .card_arrival {
          width: 47%;
          height: 271px;
        }
      }
    }

    .category_section {
      .category_div {
        justify-content: space-between;

        .categories_icon {
          width: 115px;
          height: 150px;

          img {
            height: auto;
            max-width: 100%;
          }
        }
      }
    }

    .banner_div {
      .bannerYellow {
        .just_for {
          &::before {
            left: 82px;
            width: 10%;
          }

          &::after {
            left: 292px;
            width: 10%;
          }
        }

        .banner_btn {
          width: 275px;
        }
      }

      .explore_div {
        .explore_card {
          width: 47%;
        }

        .cards_box {
          gap: 18px;
        }
      }
    }
    .news_search {
      .news_search_head {
        padding: 17px 10px;
      }
      .news_search_box {
        .subscribe_btn {
          padding: 13px;
          font-size: 12px;
          width: 86px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .home_banner {
    .arrival_div {
      .arrival_resp {
        gap: 21px;

        .card_arrival {
          width: 47%;
          height: 271px;
        }
      }
    }

    .category_section {
      .category_div {
        justify-content: unset;

        .categories_icon {
          width: 115px;
          height: 150px;

          img {
            height: auto;
            max-width: 100%;
          }
        }
      }
    }

    .banner_div {
      .bannerYellow {
        .just_for {
          &::before {
            left: 70px;
            width: 10%;
          }

          &::after {
            left: 270px;
            width: 10%;
          }
        }

        .banner_btn {
          width: 240px;
          padding: 5px;
        }
      }

      .explore_div {
        .explore_card {
          width: 47%;
        }

        .cards_box {
          gap: 18px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .home_banner {
    .banner_back {
      .stores_cart {
        .stores_cart_align {
          img {
            height: auto;
            width: 24px;
          }
        }
      }
    }

    .charity_cart {
      .charity_flex {
        .exp_imgs {
          height: 356px !important;
          width: 100% !important;

          span {
            font-size: 24px !important;
          }
        }
      }
    }

    .arrival_div {
      .arrival_resp {
        .card_arrival {
          width: 100%;
          height: 290px;

          .card_arrival_Img {
            img {
              height: 185px;
            }
          }
        }
      }
    }

    .category_section {
      .category_div {
        .categories_icon {
          width: 98px;
          height: 142px;
          padding: 10px;
        }
      }
    }

    .artisan_div {
      .artisan_content {
        width: 100%;
      }
    }

    .banner_div {
      .bannerYellow {
        .find_prod {
          font-size: 24px;
        }

        .exp_all_pro {
          font-size: 27px;
        }

        .just_for {
          &::before {
            left: 50px;
            width: 10%;
          }

          &::after {
            left: 242px;
            width: 10%;
          }
        }
      }

      .explore_div {
        .explore_card {
          width: 100%;
        }
      }
    }

    .news_search {
      height: 215px;

      .news_search_box {
        display: flex;
        gap: 8px;
        flex-direction: column;

        .news_search_inp {
          width: 85%;
        }
      }
    }
  }
}

/* css for mobile devices end*/
