.home_banner {
  height: 150px;
  background-color: rgb(216 214 214 / 43%);
  .banner_back {
    text-align: center;
    padding: 12px;

    .banner_img {
      height: 350px;
      object-fit: cover;
      width: 100%;
      /* min-height: 100%; */
      /* background-position: center center;  */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    }

    .stores_title {
      text-align: start;
      font-size: 18px;
      font-weight: 500;
      padding: 10px 4px;
      color: gray;
    }

    .stores_cart {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 10px;
      margin-bottom: 15px;
      padding: 5px 30px;
      box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

      .stores_cart_align {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 22px 10px;

        img {
          height: 50px;
          width: 50px;
        }
      }
    }
  }

  .charity_cart {
    background-color: rgb(179 230 231 / 30%);
    margin-top: 15px;
    padding-bottom: 15px;
    /* height: 200px; */

    .explore_head {
      text-align: center;
      font-size: 22px;
      font-weight: 500;
      padding-top: 12px;
    }

    .explore_subhead {
      text-align: center;
      font-size: 40px;
      font-weight: 700;
      color: rgba(7, 149, 7, 0.56);
    }

    .charity_flex {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .exp_imgs {
        position: relative;
        height: 300px;
        width: 190px;
        border: 1px solid gray;
        border: none;
        border-radius: 5px;

        img {
          height: 100%;
          width: 100%;
          border-radius: 8px;
        }

        span {
          position: absolute;
          left: 50%;
          bottom: 13px;
          transform: translate(-50%, 0);
          font-weight: 600;
          color: #fff;
          font-size: 20px;
        }
      }
    }
  }
  .arrival_div {
    padding-bottom: 20px;

    .arrival_head {
      text-align: start;
      font-size: 18px;
      font-weight: 600;
      color: #6e6b6b;
      padding: 8px 20px;
    }
    .arrival_content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .card_arrival {
        width: 175px;
        border-radius: 7px;
        border: 1px solid gray;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        .card_arrival_Img img {
          height: 145px;
          width: 100%;
          border-radius: 5px;
        }
        .card_text {
          font-size: 13px;
          color: gray;
          padding: 5px 7px;
        }
        .card_x_price {
          text-decoration: line-through;
          padding: 0 7px;
          font-size: 13px;
          font-weight: 500;
          color: gray;
        }
        .card_price {
          font-weight: 700;
          padding: 1px 7px;
          font-size: 15px;
        }
        // .star_icons
      }
    }
  }
  .category_section {
    .category_head {
      text-align: start;
      font-size: 18px;
      font-weight: 600;
      color: #6e6b6b;
      padding: 0px 20px;
    }

    .category_div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .categories_icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
        height: 178px;
        width: 130px;
        justify-content: center;

        img {
          height: 100px;
          width: 100px;
        }
        span {
          font-size: 12px;
          font-weight: 500;
          text-align: center;
        }
      }
    }
  }
  .art_tailor {
    width: 100%;
    height: 248px;
    border-radius: 5px;
  }
  .banner_div {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: 10px;

    .bannerYellow {
      height: 300px;
      width: 100%;
      background-color: #e8b86c;
    }
    .explore_div {
      // height: 500px;
      background-color: #a8a2a236;
      .cards_box {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
        padding: 27px 0px;
      }
      .explore_card {
        min-height: 335px;
        width: 275px;
        border: 1px solid rgba(123, 119, 119, 0.2901960784);
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        img {
          height: 195px;
          width: 100%;
          border-radius: 8px;
          border-bottom: 1px solid #fff;
        }
        .explore_text {
          font-weight: 600;
          color: #4d4d4d;
          padding: 5px 10px;
        }
        .star_icons {
          padding: 0px 10px;
        }
        .card_price {
          padding: 0px 10px;
          font-weight: 700;
        }
      }
    }
  }

  .arrival_div {
    padding-bottom: 20px;

    .arrival_head {
      font-size: 18px;
      font-weight: 600;
      color: #6e6b6b;
      padding: 8px 20px;
      display: flex;
      justify-content: space-between;
    }

    .arrival_content {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .card_arrival {
        width: 175px;
        border-radius: 7px;
        border: 1px solid gray;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        .card_arrival_Img img {
          height: 145px;
          width: 100%;
          border-radius: 5px;
        }

        .card_text {
          font-size: 13px;
          color: gray;
          padding: 5px 7px;
        }

        .card_x_price {
          text-decoration: line-through;
          padding: 0 7px;
          font-size: 13px;
          font-weight: 500;
          color: gray;
        }

        .card_price {
          font-weight: 700;
          padding: 1px 7px;
          font-size: 15px;
        }

        // .star_icons
      }
    }
  }

  .category_section {
    .category_head {
      text-align: start;
      font-size: 18px;
      font-weight: 600;
      color: #6e6b6b;
      padding: 0px 20px;
    }

    .category_div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .categories_icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
        height: 178px;
        width: 130px;
        justify-content: center;

        img {
          height: 100px;
          width: 100px;
        }

        span {
          font-size: 12px;
          font-weight: 500;
          text-align: center;
        }
      }
    }
  }

  .art_tailor {
    width: 100%;
    height: 248px;
    border-radius: 5px;
  }

  .banner_div {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: 10px;

    .bannerYellow {
      height: 300px;
      width: 100%;
      background-color: #e8b86c;

      .explore_card {
        display: flex;
        flex-direction: column;
        align-items: center;

        .explore_head_text {
          display: flex;
          flex-direction: column;
          align-items: center;
          line-height: 52px;
          margin-top: 25px;
        }

        .brows_btn {
          margin: 20px 10px;
        }
      }

      .just_for {
        font-size: 24px;
        font-weight: 600;
        height: 40px;

        &:before {
          background-color: black;
          content: " ";
          height: 4px;
          margin-top: 24px;
          position: absolute;
          width: 8%;
          left: 18%;
        }

        &:after {
          background-color: black;
          content: " ";
          height: 4px;
          margin-top: 24px;
          position: absolute;
          width: 8%;
          right: 54%;
        }
      }

      .exp_all_pro {
        font-size: 46px;
        font-weight: 900;
      }

      .find_prod {
        font-size: 36px;
        font-weight: 700;
      }

      .banner_btn {
        border: none;
        border-radius: 10px;
        padding: 10px;
        width: 350px;
        color: orange;
        font-size: 24px;
        font-weight: 500;
      }
    }

    .explore_div {
      background-color: #a8a2a236;

      .cards_box {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
        padding: 27px 0px;
      }

      .explore_card {
        min-height: 335px;
        width: 275px;
        border: 1px solid rgba(123, 119, 119, 0.2901960784);
        display: flex;
        flex-direction: column;
        border-radius: 5px;

        img {
          height: 195px;
          width: 100%;
          border-radius: 8px;
          border-bottom: 1px solid #fff;
        }

        .explore_text {
          font-weight: 600;
          color: #4d4d4d;
          padding: 5px 10px;
        }

        .star_icons {
          padding: 0px 10px;
        }

        .card_price {
          padding: 0px 10px;
          font-weight: 700;
        }
      }
    }
  }

  .news_search {
    height: 200px;
    background-color: rgba(216, 214, 214, 0.43);
    margin-top: 60px;
    padding-top: 20px;

    .news_search_head {
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      padding: 17px 0px;
    }

    .news_search_box {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;

      .news_search_inp {
        width: 450px;
        padding: 13px;
        border: none;
        border-radius: 5px;
      }

      .subscribe_btn {
        border: none;
        padding: 13px;
        background: rgba(7, 149, 7, 0.56);
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        border-radius: 5px;
        width: 130px;
      }
    }
  }
}