.search_below {
  display: flex;
  gap: 20px;
}

.search_svg {
  max-width: 100%;
  width: 129px;
}

.search_font {
  font-size: 12px;
}

.search_icon {
  height: 18px;
}

.google_logo {
  height: 14px;
  width: 14px;
  margin-right: 6px;
}
