.dashboard_header_align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0px;
  box-shadow: #dee2e6 0px 25px 20px -20px;
  .dashbaord_home_logo {
    width: 150px;
    img {
      height: auto;
      width: 100%;
    }
  }
  .dashboard_user {
    display: flex;
    align-items: flex-end;
    .dashboard_user_icon {
      padding: 0px 12px;
      display: flex;
      gap: 10px;
      .user_icon {
        height: 20px;
        width: 20px;
        img {
          height: 18px;
          width: 20px;
        }
      }
    }
    .select_role {
      font-size: 13px;
      color: gray;
    }
    .role_option {
      border-radius: 5px;
      border: 1px solid gray;
      display: flex;
      align-items: center;
      background-color: rgb(246 247 248);
      overflow: hidden;

      .active{
        background: #6dad54 !important;
        color: #fff;
        border-radius: 5px;

        
      }
      .dashboard_role {
        display: flex;
        background-color: rgb(246 247 248);
        gap: 10px;
        .role_div{
          min-width: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .dashboard_role_option {
          display: flex;
          border-radius: 5px;
          overflow: hidden;
          .active{
            background: #6dad54 !important;
            color: #fff;
            border-radius: 5px;
           
          }
          .role_div {
            color: #000;
            font-size: 13px;
            padding: 0px 5px;
            text-align: center;
            min-width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;            
            background-color: rgb(246 247 248);
            cursor: pointer;
           
            .transeparent{
              background-color: transparent;
            }
          }
          
        }
      }
    }
  }
}

