.navbar_ui {
  background: rgb(7 149 7 / 56%);
  height: 40px;
  display: flex;
  align-items: center;

  .navbar_align {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navigation_link {
      color: #fff;
      font-size: 13px;
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    .nav_right {
      display: flex;
      gap: 5px;

      .curreny_option {
        outline: none;
        border: none;
        background: none;

        .curencyOption {
          color: black;
        }
      }

      .nav_signIn {
        padding-right: 5px;

        span {
          border-right: 1.5px solid #fff;
          line-height: 12px;
          padding: 0 10px;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .resp_navbar {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar_ui {
    .navbar_align {
      display: none;
    }
  }
  .resp_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .homepage_logo {
      width: 60px;
      img {
        height: auto;
        max-width: 100%;
      }
    }
    .search_icon {
      width: 18px;
      img {
        height: auto;
        max-width: 100%;
      }
    }
    .toggle_menu {
      position: absolute;
      left: 0;
      right: 0;
      width: 80%;
      top: 0;
      background: #fff;
      .menu_category_list {
        display: flex;
        flex-direction: column;
        .menu_category {
          font-size: 17px;
          font-weight: 500;
          font-family: "Poppins";
          text-align: center;
          padding: 8px;
          border-bottom: 1px solid rgb(0 0 0 / 10%);
        }
        .list_category {
          font-size: 15px;
          font-weight: 400;
          font-family: "Poppins";
          padding: 9px;
          border-bottom: 1px solid rgb(0 0 0 / 10%);
        }
      }
    }
  }
}
