.navbar_ui {
  background: rgb(7 149 7 / 56%);
  height: 40px;
  display: flex;
  align-items: center;

  .navbar_align {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navigation_link {
      color: #fff;
      font-size: 13px;
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    .nav_right {
      display: flex;
      gap: 5px;

      .curreny_option {
        outline: none;
        border: none;
        background: none;

        .curencyOption {
          color: black;
        }
      }

      .nav_signIn {
        padding-right: 5px;

        span {
          border-right: 1.5px solid #fff;
          line-height: 12px;
          padding: 0 10px;
        }
      }
    }
  }
}
.home_page .home_Head .home_pageSearch .trac_btn {
  background-color: rgba(7, 149, 7, 0.56);
  padding: 0px;
  font-size: -4px;
  border-radius: -3px;
  color: #fff;
  font-size: 9px;
  /* max-width: 169px; */
  width: 278px;
  height: 33px;
  display: flex;
  gap: 7px;

  align-items: center;
}
.search_icon {
  height: 18px;
  margin-left: 5px;
}
