.qntty_sec_cntr {
    .add_qntty {
      display: flex;
      button {
        border: 1px solid lightgray;
        padding-left: 14%;
        padding-right: 14%;
        border-radius: 3px;
        color: #7b7b7c;
      }
    }
  }