.prdc_sec {
  background-color: #fff;

  .img_part {
    padding: 5%;

    img {
      width: 100%;
    }
    .smpl_imgs {
      img {
        height: 60px;
        width: 60px;
        border: 1px solid lightgray;
      }
    }
  }
  .dtls_part {
    .rating-sec {
      display: flex;
      .rt_sec_p {
        display: flex;
      }
      .green {
        color: #71ad42;
      }
    }
    .discnt {
      background-image: linear-gradient(
        269.94deg,
        #57a966 6.02%,
        #5bab66 6.02%
      );
      color: #fff;
      padding: 1%;
    }
    .price_sec {
      display: flex;
      align-items: center;
      .prc_dsc {
        .lnthr_txt {
          text-decoration: line-through;
          color: #7a7878;
        }
      }
      .green {
        color: #6dad54;
      }
    }
    .shipping_dtls_sec {
      display: flex;
      .shipping_sec {
        display: flex;
        .sps_s_txt {
          color: #7b7b7c;
        }
      }
      .spng_al {
        color: #7b7b7c;
      }
    }
    .clr_chs {
      .clr_hd {
        color: #7b7b7c;
        font-weight: 1000;
      }
      .clr_opt {
        border: 1px solid lightgray;
        text-align: center;
        border-radius: 3px;
        color: #7b7b7c;
        font-weight: 1000;
      }
    }
    .qntty_sec {
      color: #7b7b7c;
      font-weight: 1000;
      .qntty_sec_cntr {
        .add_qntty {
          display: flex;
          button {
            border: 1px solid lightgray;
            padding-left: 14%;
            padding-right: 14%;
            border-radius: 3px;
            color: #7b7b7c;
          }
        }
      }
    }
    .add_sec_bynw {
      .buttn {
        border: 1px solid #6dad54;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #6dad54;
        width: 25%;
        .img_cart {
          width: 40px;
        }
      }
      .btnn_bynw {
        background-color: #6dad54;
        color: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
      }
    }
  }
}
