.all_products {
  display: flex;
  flex-wrap: wrap;
  .card_prdc {
    .card_dvd {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .img_prdc {
        img {
          height: 50%;
          width: 100%;
          border-top: 1px solid #71ad42;
          border-left: 1px solid #71ad42;
          border-right: 1px solid #71ad42;
        }
      }
      .prdc_details {
        .details_head {
          color: #1a1c1e;
          font-weight: 500;
          font-size: 14px;
        }
        border-left: 1px solid #71ad42;
        border-right: 1px solid #71ad42;
        border-bottom: 1px solid #71ad42;
        background: #fff;
        .dtls_seller {
          color: #7fb555;
          border: 1px solid #7fb555;
          font-size: 0.75vw;
          text-align: center;
          font-weight: 500;
        }
        .mn_prc {
          text-decoration: line-through;
          color: #9f9fa7;
          font-size: 14px;
        }
        .prdc_prc {
          font-size: 0.875vw;
          color: #d50909;
          font-weight: 500;
        }
        .card_ftr {
          display: flex;
          align-items: center;

          .cart_cntns {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 5px;
            color: #71ad42;
            border: 1px solid #71ad42;
            background: #ffffff;
            border-radius: 3px;
            padding: 1%;
            font-size: 0.7vw;
            padding: 3%;

            .cart_img {
              img {
                height: 16px;
              }
            }
            .cart_msg {
              font-size: 12px;
              font-weight: 500;
            }
          }
          .btn_sec {
            display: flex;
            align-items: flex-end;
            button {
              background-color: #71ad42;
              color: white;
              border: transparent;
              border-radius: 3px;
              font-size: 13px;
              padding-top: 7%;
              padding-bottom: 7%;
              padding-left: 15%;
              padding-right: 15%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1399px) {
  .all_products {
    .card_prdc {
      .card_dvd {
        .prdc_details {
          .card_ftr {
            .cart_cntns {
              padding: 3px;
              gap: 3px;
            }
            .btn_sec {
              button {
                padding: 4px 8px;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
